In [9]:

import pandas as pd

In [10]:
https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.userurl = ''

In [21]:
users=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user",sep="|",index_col="user_id")

In [29]:
print(users)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

In [30]:
print("---------first 10 entries----------")
print(users.head(10))
print("-------------Last 10 entries----------")
print(users.tail(10))

---------first 10 entries----------
         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
-------------Last 10 entries----------
         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

In [31]:
users.shape[0]

943

In [33]:
print("Number of columns",users.shape[1])

Number of columns 4

In [34]:
users.columns

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [35]:
users.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

In [36]:
users.dtypes

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [37]:
users["occupation"]

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

In [38]:
users["occupation"].value_counts().count()

21

In [39]:
users["occupation"].value_counts().sort_values(ascending=False).head()

student          196
other            105
educator          95
administrator     79
engineer          67
Name: occupation, dtype: int64

In [40]:
users.describe()

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

In [42]:
users.describe(include="all")
users.occupation.describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

In [43]:
users.age.mean()

34.05196182396607

In [51]:
users.age.value_counts().tail()

7     1
66    1
11    1
10    1
73    1
Name: age, dtype: int64